%h1 All Books

%table#books
  %thead
    %tr
      %th Title
      %th Genre
      %th Publish Date
      %th Description Info
  %tbody
    - @books.each do |book|
      %tr
        %td= book.title 
        %td= book.genre
        %td= book.publish_date
        %td= link_to "More about #{book.title}", book_path(book)