%h1 My Favourite Books

=form_tag books_path, method: :get, id: 'genres' do
  - Book::ALL_GENRES.each_with_index do |genre, idx|
    %p
      = check_box_tag "#{genre}", true, @selected_genres.include?(genre)
      = genre
  = submit_tag 'Filter'
  = link_to 'Reset', reset_path, method: :delete

%br
%table#books
  %thead
    %tr
      %th{class: @title_class}= link_to 'Book Title', books_path(sort_by: 'title')
      %th Genre
      %th ISBN Number
      %th{class: @publish_date_class}= link_to 'Publish Date', books_path(sort_by: 'publish_date')
      %th More Info
  %tbody
    - @books.each do |book|
      = render :partial => 'book_row', :locals => { book: book }

%div.buttonsToolbar
  = link_to 'Add new book', new_book_path
